<div class="align-middle loading">
  <span class="display-1 text-muted" *ngIf="!profile">Loading...</span>
  <span class="alert alert-warning" role="alert" *ngIf="initialLoadingError">{{initialLoadingError}}</span>
</div>
<div class="container mt-3 text-muted" *ngIf="profile">
  <h3 class="text-center">{{username | uppercase}}</h3>
  <h6 class="mt-5 text-center "><i class="fa fa-fire text-warning fa-2x" aria-hidden="true"></i> Your polls <i class="fa fa-fire text-warning fa-2x" aria-hidden="true"></i></h6>
  <div class="alert alert-danger text-center" role="alert" *ngIf="deleteError">
    {{deleteError}}
  </div>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let topic of profile">{{topic.title}} <button class="btn btn-danger btn-sm float-right" (click)="deletePoll(topic.title)" [disabled]="disable">Delete</button><button class="btn btn-primary btn-sm mr-1 float-right" (click)="auth.goSingle(username, topic.title)">View</button></li>
  </ul>
</div>