/* You can add global styles to this file, and also import other style files */
/* google font */
@import url("https://fonts.google.com/?selection.family=Lateef");

body {
    font-family: 'Lateef';
    line-height: 1.8;
}

.loading {
    font-family: 'Lateef';
    text-align: center;
    font-weight: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}