<div class="container my-3" id="home">
  <button type="button" class="btn btn-light btn-sm btn-block m-3" routerLink="/createpoll" *ngIf="auth.loggedIn()">Create Poll</button>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Special title treatment</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-light">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Special title treatment</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-light">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
