<section id="main-page">
  <div class="container">
    <div class="jumbotron m-3">
        <div class="text-center pt-2"><i class="fa fa-free-code-camp fa-2x" aria-hidden="true"></i></div>
        <p class="pt-4 lead">This is a baseline from <a href="https://www.freecodecamp.org" target="_blank">Freecodecamp.</a> Freecodecamp is an online platform where you can learn web development(programming) for free.</p>
        <p class="lead">It covers the basics from frontend to data visualization to backend and other computer science topics as well as frameworks. If you're interested in learning for fun or a change of career, click the link <i class="fa fa-hand-o-up"></i> above.</p>
        <p>Click <a routerLink="/home">Here</a> to explore the features of this app.</p>
    </div>
  </div>
</section>